<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.tailwindcss.com"></script>
<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    ella: '#fb1b00',
                    ella2: '#ff8800'
                },
                fontFamily: {
                    sans: ['Poppins, Roboto, Arial', 'sans-serif'],
                    serif: ['ui-serif', 'Georgia', 'serif']
                },
            }
        }
    }
</script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet">

<style>
/* paste editional styles here */
</style>