<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% raw %}{{ info.title }} {{ info.version }}{% endraw %} – Asynction Docs</title>
    <link rel="stylesheet" href="https://unpkg.com/@asyncapi/react-component@1.0.0-next.39/styles/default.min.css">
  </head>
  <body>
    <div id="asyncapi"></div>
    <script src="https://unpkg.com/@asyncapi/react-component@1.0.0-next.39/browser/standalone/index.js"></script>
    <script>
        const schema = {% raw %}{{ schema | replace("$TITLE", info.title) | replace("$VERSION", info.version) | replace("$DESC", info.description) | tojson | safe}}{% endraw %}
        AsyncApiStandalone.render({
            schema: schema,
            config: {
                show: {
                    sidebar: true,
                }
            },
        }, document.getElementById('asyncapi'));
    </script>
  </body>
</html>
